# 0.0 Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import inflection

## 0.1 Helper Functions

## 0.2 Loading Data

In [2]:
df_raw = pd.read_csv('../data/raw/churn.csv', low_memory=False)

In [3]:
df_raw.sample()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6546,6547,15633840,Henderson,781,France,Male,20,0,125023.1,2,1,1,108301.45,0

# 1.0 Data Description

In [5]:
# Cópia para otimização
df1 = df_raw.copy()

## 1.1 Rename Columns

In [7]:
old_cols = ['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited']

snake_case = lambda x: inflection.underscore(x)

new_cols = list( map(snake_case, old_cols))
df1.columns = new_cols